body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3f2d3;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #555;
}

section {
  display: flex;          /* Use Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center;    /* Center horizontally */
  height: 60vh;         /* Full viewport height */
  text-align: center;     /* Center text inside the section */
}
h1 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
    color: #a46d3a;
    text-align: center;
    margin-bottom: 5px; /* Space below the heading */
    margin-top: -50px; /* Remove default top margin */
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    color: #232222;
    line-height: 1.6;
    padding: 0 20px;
  }
  
.my-image {
  max-width: 300px;          /* Set a max width for the image */
  height: auto;              /* Maintain aspect ratio */
  margin-top: -100px; 
 margin-bottom: px;
margin-left: 500px; /* Space above the image */
}
